:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f9f9f9;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.modal-header {
  border-bottom: 0;
}

html, body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: var(--bs-light);
  color: #333;
}

button {
  box-shadow: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  --bs-navbar-padding-y: 12px;
  --bs-navbar-brand-padding-y: 0;
  --bs-navbar-brand-padding-x: 0;
}

.bg-dark {
  background-color: #333 !important;
}

.navbar-dark {
  padding-top: var(--bs-navbar-padding-y);
  padding-bottom: var(--bs-navbar-padding-y);
  border-bottom: 1px solid var(--bs-gray-300);
  background-color: #333;
}

.navbar-collapse {
  flex-grow: initial;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.image-file {
  width: fit-content;
  height: 75px;
  border-radius: 8px;
}

.image-wrapper {
  width: 350px;
  max-width: 350px;
  height: 350px;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}


.page-link.active, .active > .page-link {
  box-shadow: 0px 0px 15px 0px #0000001A;
  border: 1px solid #333333E5;
  background: #333333E5;
}

.page-link {
  color: #333;
  border: 1px solid #CCCCCC
}
